body {
  background-color: rgba(255, 255, 255, 0.938);
  height: auto;
  width:auto;
}
.text{
  padding-top: 1px;
  gap:10px;
  flex-direction: row;
  display: flex;
}
.column_1, .column_2, .column_3
{
  width: 33%;
  padding: 3px;
  text-align: justify;
}
p {
  font-family: 'Liberation Serif';
}
header {

  background-color: rgb(29, 80, 60);
  height: 100px;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}
.footer{
  background-color: rgb(29, 80, 60);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}